

h2,
p,
ul {
  padding: 10px 0 !important;
}

ol,
ul {
  text-align: left;
}

.reveal section .imageWithLink {
  padding-left: 1em;
}

.reveal section .imageWithLink img {
  padding: 0 !important;
}
